# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven build and Docker build-publish and verify

on:
  push:
    branches:
    - main

jobs:
  maven:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload artifact for Docker job
      uses: actions/upload-artifact@v3
      with:
        name: java-app
        path: '${{ github.workspace }}/target/*.jar'

  docker-build-publish:
    runs-on: ubuntu-latest
    needs: maven
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Download artifact from Maven job
      uses: actions/download-artifact@v3
      with:
        name: java-app
    - name: Docker login
      run: docker login ghcr.io -u imre-gabor -p ${{ github.token }}
    - name: Docker build
      run: docker build . -t ghcr.io/imre-gabor/cubix/1/homework/app:springboot
    - name: Docker publish
      run: docker push ghcr.io/imre-gabor/cubix/1/homework/app:springboot

  docker-verify:
    runs-on: ubuntu-latest
    needs: docker-build-publish
    permissions:
      contents: read
      packages: write

    steps:    
    - name: Verify Docker image
      run: ./verify-image.sh